*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #f9f9f9;
    font-family: "Roboto", sans-serif
}
body{
    background-image: url(https://i1.wp.com/animesher.com/orig/1/128/1286/12867/animesher.com_anime-scenery-gif-1286752.gif);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: rgba(31, 31, 31, 0.74);
    border-radius: 25px;
    padding: 40px;
    width: 720px;
    height: 450px;
}
.city{
   padding: 20px;
   border: none;
   outline: none;
   border-radius: 25px;
   font-size: 20px;
   color: black;
   width: calc(100% - 70px);
   background-color: #f9f9f9b6;
}
.search{
    background-color: #f9f9f9b6;
    border: none;
    outline: none;
    padding: 20px;
    border-radius: 25px;
    cursor: pointer;
    float: right;
    
}
.search img{
    width: 20px;
}
.name-city{
    margin-top: 20px;
    font-size: 32px;
    text-align: center;
}
.tempo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
    justify-content: center;
}
.umi{
    text-align: center;
}
.temp{
   font-size: 32px;
   margin-top: 20px;
   text-align: center;
}
.ceu{
    text-transform: capitalize;
}

@media (max-width: 767px){
    .name-city{
     font-size: 24px;
     
    }
    .temp{
        font-size: 24px;
        margin-top: 10px
     }
     .umi{
        margin-top: 10px;
    }
    .tempo{
        display: flex;
        align-items: center;
        margin-top: 10px;
    }
    .container{
        padding: 20px;
        width: 350px;
        height: 350px;
    }
}